body {
  padding: 0;
  margin: 0;
  font-family: 'Jim Nightshade', cursive;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/QQEiYIt.gif");
  color: white;
  height: 50px;
}

a {
  color: white;
}

a:focus {
  outline:none;
}

map area{
  outline: none;
}

a:hover {
  color: #12cd4c; 
}

.main-nav {
  font-size: 25px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li:first-child {
  margin-right: auto;
 }

.main-nav a {
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.logo {
  font-size: 45px;
}

h1 {
  text-align: center;
  font-size: 55px;
  margin: -420px;
}

h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin: 0;
}
h3 {
  font-size: 30px;
}

.main-signs div {
  text-align: center;
}
.main-signs img {
  width: 360px;
}
.signs, .show-signs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signs img {
  width: 160px;
}

.sign-period {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  font-size: 30px;
  padding: 0;
}

.sign-period li {
  padding-right: 15px;
}

.prediction {
  display: inline-flex;
}

.prediction p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.show-signs img {
  width: 80px;
}
.user-details {
  margin: 0px 70px 0 30px;
}

#user-avatar {
  border-radius: 50%;
  margin-left: 100px;
}
#sign-logo {
  width: 120px;
  margin-top: -100px;
  margin-left: 250px;
}

.img-favorite {
  width: 50px;
}

.profile-prediction {
  padding-top: 30px;
}

.profile-prediction p {
  margin: 0;
}

.title-today {
  width: 70px;
  margin: 0;
  float: left;
}

select {
  width: 200px;
  height: 40px;
  background: none;
  color: white;
  font-size: 20px;
}
@media screen and (min-width: 540px) {
  .main-signs img {
    width: 590px;
  }
}