<%- include('./partials/header') %>

<section class="main-signs">
  <div><img src="/img/zodiacwheel.png" usemap="#image-map"></div>
  <map name="image-map">
      <area alt="aquarius" title="aquarius" href="/horoscope/today/aquarius" coords="94,168,154,202,214,139,182,80,131,115" shape="poly">
      <area alt="pisces" title="pisces" href="/horoscope/today/pisces" coords="93,168,153,202,129,283,59,282,68,222,60,289" shape="poly">
      <area alt="aries" title="aries" href="/horoscope/today/aries" coords="60,288,64,352,87,399,151,366,130,287" shape="poly">
      <area alt="taurus" title="taurus" href="/horoscope/today/taurus" coords="93,408,153,373,211,432,173,494,125,456" shape="poly">
      <area alt="gemini" title="gemini" href="/horoscope/today/gemini" coords="181,497,217,436,296,458,295,529,236,522" shape="poly">
      <area alt="cancer" title="cancer" href="/horoscope/today/cancer" coords="301,458,302,528,365,519,418,495,384,436" shape="poly">
      <area alt="leo" title="leo" href="/horoscope/today/leo" coords="389,434,422,494,476,452,505,406,450,372" shape="poly">
      <area alt="virgo" title="virgo" href="/horoscope/today/virgo" coords="450,366,510,402,535,342,536,285,474,286,450,365" shape="poly">
      <area alt="libra" title="libra" href="/horoscope/today/libra" coords="473,280,539,282,529,220,505,167,449,201" shape="poly">
      <area alt="scorpio" title="scorpio" href="/horoscope/today/scorpio" coords="445,195,503,162,466,116,418,80,386,138" shape="poly">
      <area alt="sagittarius" title="sagittarius" href="/horoscope/today/sagittarius" coords="381,135,413,78,363,57,302,49,300,115" shape="poly">
      <area alt="capricorn" title="capricorn" href="/horoscope/today/capricorn" coords="185,78,217,138,296,115,296,50,240,56" shape="poly">
  </map>
  <h1>Select the sign<br> & <br>reveal your fate</h1>
</section>
<section  class="element-icon">
    <img src="/img/earth.png">
    <img src="/img/air.png">
    <img src="/img/fire.png">
    <img src="/img/water.png">
</section>
  
<%- include('./partials/footer') %>
