<%- include('./partials/header') %>

  
  <h1>Check your horoscope</h1>
  <ul class="sign-period">
    <li><a href="#"></a>Daily</li>
    <li><a href="#"></a>Monthly</li>
    <li><a href="#"></a>Yearly</li>
  </ul>
  <section class="signs">
    <div><a href="#"><img src="/img/aquarius.png"></a></div>
    <div><a href="#"><img src="/img/pisces.png"></a></div>
    <div><a href="#"><img src="/img/aries.png"></a></div>
    <div><a href="#"><img src="/img/taurus.png"></a></div>
    <div><a href="#"><img src="/img/gemini.png"></a></div>
    <div><a href="#"><img src="/img/cancer.png"></a></div>
    <div><a href="#"><img src="/img/leo.png"></a></div>
    <div><a href="#"><img src="/img/virgo.png"></a></div>
    <div><a href="#"><img src="/img/libra.png"></a></div>
    <div><a href="#"><img src="/img/scorpio.png"></a></div>
    <div><a href="#"><img src="/img/sagittarius.png"></a></div>
    <div><a href="#"><img src="/img/capricorn.png"></a></div>
  </section>


<%- include('./partials/footer') %>
