<%- include('./partials/header') %>

  
  <h1>Check your horoscope</h1>
  <ul class="sign-period">
    <li><a href="#"></a>Daily</li>
    <li><a href="#"></a>Monthly</li>
    <li><a href="#"></a>Yearly</li>
  </ul>


<%- include('./partials/footer') %>
