<%- include('./partials/header') %>

  
  <h1>Check your horoscope</h1>
  <section class="signs">
    <div><a href="#"><img src="/img/aquarius.png"></a></div>
    <div><a href="#"><img src="/img/pisces.png"></a></div>
    <div><a href="#"><img src="/img/aries.png"></a></div>
    <div><a href="#"><img src="/img/taurus.png"></a></div>
    <div><a href="#"><img src="/img/gemini.png"></a></div>
    <div><a href="#"><img src="/img/cancer.png"></a></div>
    <div><a href="#"><img src="/img/leo.png"></a></div>
    <div><a href="#"><img src="/img/virgo.png"></a></div>
    <div><a href="#"><img src="/img/libra.png"></a></div>
    <div><a href="#"><img src="/img/scorpio.png"></a></div>
    <div><a href="#"><img src="/img/sagittarius.png"></a></div>
    <div><a href="#"><img src="/img/capricorn.png"></a></div>
  </section>
  <ul class="sign-period">
    <li><a href="#">Daily</a></li>
    <li><a href="#">Monthly</a></li>
    <li><a href="#">Yearly</a></li>
  </ul>
  
  <section class="prediction">
    <div><a href="#sunsign"><img src="/img/aquarius.png"></a></div>
    <div>
      <h2>< Sign ></h2>
      <p>< Today promises to be a joy ride for your hidden gourmand side. Relish what you eat, and thank God for the good luck. Career wise, however, you may find yourself standing at a crossroads. But, the good part about that is there shall be many paths to choose from. And, who knows the art of balancing better than you. The latter half of the day promises to bring some monetary gains. ></Today></p>
    </div>
  </section>


<%- include('./partials/footer') %>
