<%- include('./partials/header') %>


<section class="prediction">
    <div><a href="#sunsign"><img src="/img/aquarius.png"></a></div>
    <div>
        <h2><%= signData.sunsign %></h2>
        <p><%= signData.horoscope %></p>
    </div>
</section>

<%- include('./partials/footer') %>

    