<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cosmic</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/circular%20icons/moon.png"/>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul class="main-nav">
                <li><a href="/" class="logo">Cosmic</a></li>
                <% if (user) { %>
                    <li><a href="/profile/<%= user._id %>">
                        Hello, <%= user.name %>
                    </a></li>
                    <li><a href="/logout">
                        Logout
                    </a></li>
                <% } else { %>
                    <li><a href="/auth/google">
                        Login with Google
                    </a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    